**/.env
**/.env.*
!**/.env.example

**/.venv/
**/venv/
**/__pycache__/
**/*.py[cod]

**/.git/
**/.idea/
**/.vscode/

miniapp/

spicespace-bot/subscribers.json
spicespace-bot/user_profiles.json
spicespace-bot/tasks.json
spicespace-bot/daily_summaries.json

spicespace-bot/fly.toml
spicespace-bot/flyctl.cmd
